<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog</title>
</head>
<body>
    <header>
        <h1>Mi Blog</h1>
        <nav>
            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'categorias' %}">Categorías</a></li>
                <li><a href="{% url 'crear_articulo' %}">Nuevo Artículo</a></li>
                <!-- Agregar más enlaces según sea necesario -->
            </ul>
        </nav>
    </header>
    <main>
        <section id="inicio">
            <h2>Artículos más recientes</h2>
            <ul>
                {% for articulo in articulos_recientes %}
                    <li><a href="{% url 'detalle_articulo' slug=articulo.slug %}">{{ articulo.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        <section id="populares">
            <h2>Artículos más populares</h2>
            <ul>
                {% for articulo in articulos_populares %}
                    <li><a href="{% url 'detalle_articulo' slug=articulo.slug %}">{{ articulo.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        <section id="categorias">
            <h2>Categorías</h2>
            <ul>
                {% for categoria in categorias %}
                    <li><a href="{% url 'categoria' slug=categoria.slug %}">{{ categoria.name }}</a></li>
                {% endfor %}
            </ul>
            <!-- Agregar el formulario para crear una nueva categoría -->
            <form action="{% url 'crear_categoria' %}" method="post">
                {% csrf_token %}
                <input type="text" name="nombre_categoria" placeholder="Nombre de la categoría">
                <textarea name="descripcion_categoria" placeholder="Descripción de la categoría" cols="30" rows="3"></textarea>
                <input type="submit" value="Crear categoría">
            </form>
        </section>
    </main>
    
</body>
</html>